<footer class="my-5 pt-5 text-muted text-center text-small">
	<p class="mb-1">© 2022 Dharmendra</p>
	<ul class="list-inline">
		<li class="list-inline-item">
			<a href=""
				></a
			>
		</li>
	</ul>
</footer>
